/* ---------------blogerinfo----------------- */
/* ---------------mdui----------------- */
.mdui-card {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    color: #000;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/*媒体元素区域*/
.mdui-card-media {
    position: relative;
}

.mdui-card-media img,
.mdui-card-media video {
    display: block;
    width: 100%;
}

/* 覆盖在媒体元素上的内容 */
.mdui-card-media-covered {
    position: absolute;
    right: 0;
    bottom: -38%;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.mdui-card-media-covered:hover {
    animation: cardmoveup .6s;
    animation-fill-mode: forwards;
}

@keyframes cardmoveup {
    0% {
        bottom: -38%;
    }
    100% {
        bottom: 0;
    }
}

.mdui-card-media-covered .mdui-card-primary-avatar {
    float: left;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mdui-card-media-covered .mdui-card-primary-title {
    opacity: 1;
}

.mdui-card-media-covered .mdui-card-primary-subtitle {
    opacity: 0.7;
}

/* 覆盖在媒体元素顶部 */
.mdui-card-media-covered-top {
    top: 0;
    bottom: auto;
}

/**
 * =========================== 主标题区域
 */
.mdui-card-primary {
    position: relative;
    padding: 24px 16px 16px 16px;
}

/* 主标题区域标题 */
.mdui-card-primary-title {
    display: block;
    font-size: 24px;
    line-height: 36px;
    opacity: 0.87;
}

/* 主标题区域副标题 */
.mdui-card-primary-subtitle {
    display: block;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.54;
}

/**
 * =========================== 按钮区域
 */
.mdui-card-actions {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
}

.mdui-card-actions::before,
.mdui-card-actions::after {
    display: table;
    content: ' ';
}

.mdui-card-actions::after {
    clear: both;
}

.mdui-card-actions::before,
.mdui-card-actions::after {
    display: table;
    content: ' ';
}

.mdui-card-actions::after {
    clear: both;
}

.mdui-card-actions .mdui-btn {
    max-width: 100%;
    margin: 0 8px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mdui-card-actions .mdui-btn-icon {
    width: 36px;
    height: 36px;
    margin: 0 8px;
}

/* 使按钮竖向排列 */
.mdui-card-actions-stacked .mdui-btn {
    display: block;
    margin: 0 0 4px 0;
}

.mdui-card-actions-stacked .mdui-btn:last-child {
    margin: 0;
}

/**
 * ========================Button 按钮
*/
.mdui-btn {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 88px;
    height: 36px;
    margin: 0;
    padding: 0 16px;
    overflow: hidden;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.04em;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    background: transparent;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    will-change: box-shadow;
    zoom: 1;
    -webkit-user-drag: none;
}

.mdui-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.mdui-btn:not(.mdui-ripple):active {
    background-color: rgba(0, 0, 0, 0.165);
}

/* 按钮内的图标 */
.mdui-btn .mdui-icon-left,
.mdui-btn .mdui-icon-right,
.mdui-btn .mdui-icon-left::before,
.mdui-btn .mdui-icon-right::before {
    height: inherit;
    font-size: 1.3em;
    line-height: inherit;
}

.mdui-btn .mdui-icon-left {
    float: left;
    margin-right: 0.4em;
}

.mdui-btn .mdui-icon-right {
    float: right;
    margin-left: 0.4em;
}
