:root {
    --color1: rgb(25, 178, 238);
    --color2: rgb(160, 254, 18);
    --color3: rgb(254, 38, 38);
    --color4: rgb(249, 180, 19);
    --color5: rgb(251, 251, 251);
    --color6: rgb(39, 56, 245);
}

.color-logo {
    color: transparent;
    filter: blur(.2px);
    font-family: '微软雅黑';
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(45deg,
            var(--color1) 0%, var(--color1) 9%,
            transparent 9%, transparent 10%,
            var(--color2) 10%, var(--color2) 19%,
            transparent 19%, transparent 20%,
            var(--color3) 20%, var(--color3) 29%,
            transparent 29%, transparent 30%,
            var(--color4) 30%, var(--color4) 39%,
            transparent 39%, transparent 40%,
            var(--color5) 40%, var(--color5) 49%,
            transparent 49%, transparent 50%,
            var(--color1) 50%, var(--color1) 59%,
            transparent 59%, transparent 60%,
            var(--color2) 60%, var(--color2) 69%,
            transparent 69%, transparent 70%,
            var(--color3) 70%, var(--color3) 79%,
            transparent 79%, transparent 80%,
            var(--color4) 80%, var(--color4) 89%,
            transparent 89%, transparent 90%,
            var(--color5) 90%, var(--color5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 800% 800%;
    animation: move 30s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 100% 0;
    }
}